/**
 * Based on Black theme for reveal.js, modified to match rightpoint.com
 */


// Default mixins and settings -----------------
@import "../../bower_components/reveal.js/css/theme/template/mixins";
@import "../../bower_components/reveal.js/css/theme/template/settings";
// ---------------------------------------------

$white: #F2EFE8;
$grey: #8D827A;
$orange: #CD3F25;
$blue: #52ADC0;
$yellow: #EDC41A;
$green: #AABA40;
$dblue: #006091;
$purple: #754775;

// Include theme-specific fonts
//@import url("//www.rightpoint.com/Content/WebFont-Din.css");

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $white;

$mainColor: $grey;
$headingColor: $orange;

$mainFontSize: 38px;
$mainFont: Arial,sans-serif;
$headingFont: Arial,sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $backgroundColor;
	}
}


// Theme template ------------------------------
@import "../../bower_components/reveal.js/css/theme/template/theme";
// ---------------------------------------------

.reveal {
	.slides section {
		.fragment.current-visible {
			height: 0;
			&.current-fragment {
				height: auto;
			}
		}
	}
	p code { 
		background-color: $grey;
		padding: 2px 5px;
		color: $yellow;
		font-size: 1.1em; 
	}
	li {
		font-size: 24px;
	}
	.pull-left {
		float: left;
	}
	.custom-pre {
		width: 50%;
	}
	.custom-list {
		width: 46%;
		padding-top: 14px;
	}
}